.container {
    height: 100%;
}

.listContainer {
    padding: 20px;
    margin-top: 50px;
    height: 15vh;
}

.cardsGrid {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.pageTitle {
    margin-bottom: 50px;
}