* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding-bottom: 80px;
}


main {
    overflow-y: auto;
    overflow-x: hidden;
}

header {
    border-bottom: solid 1px black;
    padding: 10px;
}

footer {
    border-top: solid 1px black;
    padding: 10px;
}

.modal-container {
    height: 100vh;
    padding: 10px;
}